header {
	height: 9.5vh;
}

main {
    padding-bottom: 10%;
    margin: 7%;
    padding-top: 10%;
    height: 80vh;
}

footer {
	height: 10vh;
}
h1 {
	color: #693D37;
}

.no-padding-margin {
	margin: 0;
	padding: 0;
}

/* For the Header */

.style-header {
	background-color: #E8C9A1;
	position: fixed;
    top: 0;
    width: 100%
}
.style-nav {
	display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

#tfheader {
    display: flex;
    align-items: center;
}

/* For the Main */
.base-card {
	padding: 20px;
	margin: 20px;
	box-shadow: 25px 22px 7px -15px rgba(0,0,0,0.29);
	background-color: white;
	border: 2px solid;
}

.border-curve {
	border-radius: 8px;
}

.flex-base-main {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container>img {
	max-width: 100%;
	height: auto;
	margin-top: 5px; 
}

/* For the Footer */

footer>div>.navbar>li {
	padding: 10px;
}
